body {
    align-items: center;
    justify-content: center;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

.container {
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: auto;
}

h1 {
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.box {
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 7px;
    background-color: aqua;
    margin: auto;
    cursor: pointer;
}

p {
    text-align: center;
}

hr {
    width: 60%;
    height: 5px;
    background-color: blue;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box1:hover{
    background-color: blue;
}

.box2:hover {
    height: 150px;
    width: 150px;
}

.box3 {
    transition-delay: 2s;
}
.box3:hover {
    rotate: 30deg;
}

.box4 {
    transition-duration: 5s;
}
.box4:hover {
    background-color: red;
}

.box5 {
    transition: width 2s;
    transition-timing-function: ease-in-out;
}
.box5:hover {
    width: 500px;
}